:root {
  
  line-height: 1.5;
  font-weight: 900;
  background-color:#F0F0F0;
  font-family: 'Fuggles', cursive;
   font-family: 'Montserrat', sans-serif; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

